@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  --dark-scheme-bg-color: rgb(24, 24, 24);
  --dark-scheme-comp-color: rgb(34, 34, 34);
  --dark-scheme-text-color: whitesmoke;

  --light-scheme-bg-color: rgb(236, 231, 231);
  --light-scheme-comp-color: whitesmoke;
  --light-scheme-text-color: rgb(22, 22, 22);
}


* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  background-color: inherit;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

body {
  background-color: var(--dark-scheme-bg-color);
}

body::-webkit-scrollbar {
  width: 0;
}

.game-container {
  user-select: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.custom-scheme {
  background-color: var(--dark-scheme-comp-color);
  color: var(--light-scheme-text-color);
}

.global-header {
  color: var(--dark-scheme-text-color);
  background-color: var(--dark-scheme-comp-color);
}

.global-sider {
  color: var(--dark-scheme-text-color);
  background-color: var(--dark-scheme-comp-color);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: var(--light-scheme-bg-color);
  }

  .global-header {
    color: var(--light-scheme-text-color);
    background-color: var(--light-scheme-comp-color);
  }

  .global-sider {
    color: var(--light-scheme-text-color);
    background-color: var(--light-scheme-comp-color);
  }

  .custom-scheme {
    background-color: var(--dark-scheme-comp-color);
    color: var(--light-scheme-text-color);
  }

  .markdown-body {
    color: var(--dark-scheme-text-color);
    background-color: var(--light-scheme-bg-color);
  }

}

.markdown-body {
  color: var(--light-scheme-bg-color);
  background-color: var(--dark-scheme-comp-color);
}

.mineSweeper-header {
  display: flex;
  justify-content: space-between;
}


.markdown-body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  min-height: 100vh;
  border-radius: 10px;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body blockquote {
  font-size: 1.2rem;
}