@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}


* {
  padding: 0;
  margin: 0;
  font-size: inherit;
  background-color: inherit;
}

button:focus {
  outline: none;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: #213547;
}

body::-webkit-scrollbar {
  width: 0;
}

.game-container {
  user-select: none;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
}

.custom-scheme {
  background-color: #213547;
  color: skyblue;
}

.global-header {
  color: whitesmoke;
  background-color: rgb(49, 49, 49);
}

@media (prefers-color-scheme: light) {
  body {
    background-color: whitesmoke;
  }

  .custom-scheme {
    background-color: rgb(218, 239, 247);
    color: black;
  }
  .global-header {
    color: black;
    background-color: white;
  }

}

@media (prefers-color-scheme: dark) {
  .markdown-body {
    color: whitesmoke !important;
    background-color: rgb(49, 49, 49) !important;
  }
}

.mineSweeper-header {
  display: flex;
  justify-content: space-between;
}

.radios {
  padding-left: 1rem;
  padding-right: .5rem;
}

.markdown-body {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1rem;
  color: whitesmoke;
  min-height: 100vh;
  background-color: black;
}

.markdown-body ul {
  list-style: disc;
}

.markdown-body blockquote {
  font-size: 1.2rem;
}

